USE [master]
GO
/****** Object:  Database [TestKpi]    Script Date: 3/15/2019 10:12:52 PM ******/
CREATE DATABASE [TestKpi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestKpi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TestKpi.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestKpi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TestKpi_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestKpi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestKpi]
GO
/****** Object:  StoredProcedure [dbo].[is_DmKPI]    Script Date: 3/15/2019 10:12:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[is_DmKPI]
	@code nvarchar(MAX),
	@createDate date,
	@updateDate datetime,
	@isDeleted bit,
	@name nvarchar(MAX),
	@idCha bigint,
	@idUnit int
AS
BEGIN
	 IF NOT EXISTS (SELECT * FROM dmKPI
                   WHERE Name = @name Or Code = @code)
	BEGIN
       INSERT INTO dmKPI
       VALUES (@code,@createDate,@updateDate,@isDeleted,@name,@idCha,@idUnit)
	END
END
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/15/2019 10:12:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](4000) NOT NULL,
	[IsManageAccount] [bit] NOT NULL,
	[IsNormalAccount] [bit] NOT NULL,
	[IsExpertsAccount] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ProfilePicture] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[DateOfBirth] [datetime] NULL,
	[Sex] [bit] NULL,
	[Address] [nvarchar](250) NULL,
	[IdDonVi] [bigint] NULL,
	[IdNational] [int] NULL,
	[code] [int] NOT NULL,
	[IDCapQuanLy] [int] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CapQuanLy]    Script Date: 3/15/2019 10:12:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapQuanLy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsDefault] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CapQuanLy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dmDonVi]    Script Date: 3/15/2019 10:12:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dmDonVi](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](20) NULL,
	[Description] [nvarchar](max) NULL,
	[CapDV] [int] NOT NULL,
	[IdCha] [bigint] NULL,
 CONSTRAINT [PK_dbo.dmDonVi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dmKPI]    Script Date: 3/15/2019 10:12:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dmKPI](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IdCha] [bigint] NULL,
	[IdUnit] [int] NULL,
 CONSTRAINT [PK_dbo.dmKPI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [FullName], [Email], [Password], [IsManageAccount], [IsNormalAccount], [IsExpertsAccount], [CreateDate], [ProfilePicture], [PhoneNumber], [DateOfBirth], [Sex], [Address], [IdDonVi], [IdNational], [code], [IDCapQuanLy], [IsDeleted]) VALUES (1, N'Đỗ Quang Đông', N'xxxx@gmail.com', N'123456', 0, 0, 0, CAST(0x0000A9E300000000 AS DateTime), NULL, N'xxxxx', CAST(0x000065CA00000000 AS DateTime), 1, N'xxxxx', 8, 0, 0, 2, 0)
INSERT [dbo].[Account] ([Id], [FullName], [Email], [Password], [IsManageAccount], [IsNormalAccount], [IsExpertsAccount], [CreateDate], [ProfilePicture], [PhoneNumber], [DateOfBirth], [Sex], [Address], [IdDonVi], [IdNational], [code], [IDCapQuanLy], [IsDeleted]) VALUES (2, N'Nguyễn Thanh Hùng', N'xxxx@gmail.com', N'123456', 0, 0, 0, CAST(0x0000A9E300000000 AS DateTime), NULL, N'xxxxx', CAST(0x00006E1100000000 AS DateTime), 1, N'xxxxx', 8, 0, 0, 3, 0)
INSERT [dbo].[Account] ([Id], [FullName], [Email], [Password], [IsManageAccount], [IsNormalAccount], [IsExpertsAccount], [CreateDate], [ProfilePicture], [PhoneNumber], [DateOfBirth], [Sex], [Address], [IdDonVi], [IdNational], [code], [IDCapQuanLy], [IsDeleted]) VALUES (3, N'Hoàng Chiến Hữu', N'xxxx@gmail.com', N'123456', 0, 0, 0, CAST(0x0000A9E300000000 AS DateTime), NULL, N'xxxxx', CAST(0x0000646200000000 AS DateTime), 1, N'xxxxx', 8, 0, 0, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[CapQuanLy] ON 

INSERT [dbo].[CapQuanLy] ([Id], [Code], [Name], [Description], [IsDefault], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (2, N'xxxxx', N'Giám đốc Điện lực', NULL, 0, CAST(0x0000A9BD00D7F2F4 AS DateTime), NULL, 0)
INSERT [dbo].[CapQuanLy] ([Id], [Code], [Name], [Description], [IsDefault], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (3, N'xxxxx', N'Phó giám đốc Điện lực', NULL, 0, CAST(0x0000A9BD00D7F2FB AS DateTime), NULL, 0)
INSERT [dbo].[CapQuanLy] ([Id], [Code], [Name], [Description], [IsDefault], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (4, N'xxxxx', N'Phúc tra ghi chỉ số công tơ', NULL, 0, CAST(0x0000A9BD00D7F2FE AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[CapQuanLy] OFF
SET IDENTITY_INSERT [dbo].[dmDonVi] ON 

INSERT [dbo].[dmDonVi] ([Id], [Code], [CreateDate], [UpdateDate], [IsDeleted], [Name], [DiaChi], [DienThoai], [Email], [Description], [CapDV], [IdCha]) VALUES (1, NULL, CAST(0x000007C900000000 AS DateTime), NULL, 0, N'Điện lực Thành phố Yên Bái', N'Điện lực thành phố Yên Bái', N'xxxxx', N'xxxxx@gmail.com', NULL, 0, NULL)
INSERT [dbo].[dmDonVi] ([Id], [Code], [CreateDate], [UpdateDate], [IsDeleted], [Name], [DiaChi], [DienThoai], [Email], [Description], [CapDV], [IdCha]) VALUES (2, NULL, CAST(0x000007C900000000 AS DateTime), NULL, 0, N'Điện lực Yên Bình', N'Điện lực thành phố Yên Bái', N'xxxxx', N'xxxxx@gmail.com', NULL, 0, NULL)
INSERT [dbo].[dmDonVi] ([Id], [Code], [CreateDate], [UpdateDate], [IsDeleted], [Name], [DiaChi], [DienThoai], [Email], [Description], [CapDV], [IdCha]) VALUES (3, NULL, CAST(0x000007C900000000 AS DateTime), NULL, 0, N'Điện lực Lục Yên', N'Điện lực thành phố Yên Bái', N'xxxxx', N'xxxxx@gmail.com', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[dmDonVi] OFF
GO
SET IDENTITY_INSERT [dbo].[dmKPI] ON 

INSERT [dbo].[dmKPI] ([Id], [Code], [CreateDate], [UpdateDate], [IsDeleted], [Name], [IdCha], [IdUnit]) VALUES (1, NULL, CAST(0x0000AA0600000000 AS DateTime), NULL, 0, N'CL. Quản trị chiến lược', 0, 0)
INSERT [dbo].[dmKPI] ([Id], [Code], [CreateDate], [UpdateDate], [IsDeleted], [Name], [IdCha], [IdUnit]) VALUES (2, NULL, CAST(0x0000AA0600000000 AS DateTime), NULL, 0, N'KH. Lập kế hoạch SXKD', 0, 0)
INSERT [dbo].[dmKPI] ([Id], [Code], [CreateDate], [UpdateDate], [IsDeleted], [Name], [IdCha], [IdUnit]) VALUES (3, NULL, CAST(0x0000AA0600000000 AS DateTime), NULL, 0, N'VT.Mua sắm, quản lý vật tư thiết bị, tài sản', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[dmKPI] OFF
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [code]
GO
ALTER TABLE [dbo].[dmDonVi]  WITH CHECK ADD  CONSTRAINT [FK_dbo.dmDonVi_dbo.dmDonVi_IdCha] FOREIGN KEY([IdCha])
REFERENCES [dbo].[dmDonVi] ([Id])
GO
ALTER TABLE [dbo].[dmDonVi] CHECK CONSTRAINT [FK_dbo.dmDonVi_dbo.dmDonVi_IdCha]
GO
USE [master]
GO
